<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
	<testsuites>
		<testsuite name="Value Test Suite">
			<directory suffix="Test.php">./test/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./src/Value/</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="coverage-html" target="build/logs/coverage.html"/>
	</logging>
</phpunit>
